<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Universis Project | Document Number Verifier</title>
    <!-- Universis theme core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
          integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        .fa-10x {
            font-size: 10rem;
        }

        .message-container {
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: -8px 0 0 -8px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: none;
        }
    </style>
</head>
<body>

<main>
    <div class="container message-container">
        

        <form id="form1" class="col-lg-4 col-md-6 col-sm-12" method="POST" action="">
            <h4>
                <%=html.context.translate('DocumentVerifierService')%>
            </h4>
            <img height="92" src="/images/universis_256.png">
            <div class="form-group">
              <label for="shortDocumentCode">
                <%=html.context.translate('DocumentVerifierForm.WriteDocumentCode')%>
              </label>
              <input maxlength="23" spellcheck="false" type="input" class="form-control form-control-lg" id="shortDocumentCode" 
              name="shortDocumentCode"
              <% if (model.shortDocumentCode) { %>
              value="<%=model.shortDocumentCode%>"
              <% } %>
                aria-describedby="shortDocumentCode">
              <small id="shortDocumentCodeHelp" class="form-text text-muted">
                <%=html.context.translate('DocumentVerifierForm.DocumentCodeHelp')%>
              </small>
            </div>
            <% if (ok === false) {
                %> 
                <div class="last-error text-danger mb-3">
                    <%=html.context.translate('DocumentVerifierForm.ValidationError')%>  <%=html.context.translate('DocumentVerifierForm.E' + (error.statusCode || 500), html.values)%>
                    <% if (error.statusCode === 429 && html.values && html.values.minutes) {
                        %>
                        <div class="last-error-timer text-danger font-weight-bold" data-duration="<%= html.values.minutes*60 %>">
                            <%=html.context.translate('DocumentVerifierForm.MaxRateLimitTimeout')%>
                            <span>:</span>
                            <span class="last-error-timer-value">00:00</span>
                        </div>
                    <% } else if (error.statusCode === 498) { %>
                        <div class="text-danger mt-3">
                            <%-html.context.translate('DocumentVerifierForm.DocumentCodeNote', { duration: html.duration })%>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <% if (ok) { %>
            <div id="shortDocumentCodeNote" class="alert alert-primary alert-dismissible mt-3">
              <div>
                <%-html.context.translate('DocumentVerifierForm.DocumentCodeNote', { duration: html.duration })%>
              </div>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            <% } %>
            <button disabled="disabled" id="submit" type="submit" class="btn btn-theme btn-lg">
                <%=html.context.translate('DocumentVerifierForm.Submit')%>
            </button>
            
          </form>
    </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha256-2JaAhvdQnfNMMnhWPauHOZ2k+dzftBmBjjownu3HC4g=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        // add regex method
        $.validator.addMethod(
            "regex",
            function(value, element, regexp) {
                return this.optional(element) || regexp.test(value);
            },
            "The value seems to be invalid"
        );
        // validate form
        var form = $('#form1');
        var validator = form.validate({
            rules: {
                shortDocumentCode: {
                    required: true
                }
            }
        });
        var submit = form.find('#submit');
        form.find('input').on('change keyup', function onFormChange(event) {
            submit.prop('disabled', validator.checkForm() === false);
        });
        // set mask
        $('#shortDocumentCode')
            .mask('AAAAA-AAAAA-AAAAA-AAAAA')
            .trigger('change')
            .focus()
            .select();
        // try to find last error timer 
        var lastErrorTimer = $(document).find('.last-error-timer');
        if (lastErrorTimer.length > 0) {
            var duration = parseInt(lastErrorTimer.attr('data-duration'), 10);
            var lastErrorTimerValue = lastErrorTimer.find('.last-error-timer-value');
            function resetForm() {
                form.find('.form-group').show();
                form.find('button').show();
                form.find('.last-error').hide();
            }
            if (duration > 0) {
                lastErrorTimer.show();
                form.find('.form-group').hide();
                form.find('button').hide();
                const time = new Date(0);
                var timerInterval = setInterval(function() {
                    if (duration <=0) {
                        return resetForm();
                    }
                    duration -= 1;
                    lastErrorTimerValue.html(moment(time).add(duration, 's').format('mm:ss'));
                }, 1000);
            } else {
                return resetForm();
            }
        }
    });
    
</script>
</script>
</body>
</html>
