<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Universis Project | Document Number Verifier</title>
    <!-- Universis theme core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@universis/theme@1.1.2/css/universis.css"
          integrity="sha256-eiB6rNZqEPbZYMS4jEsZNCceohe6OhJn7knaBKgrCJY=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        .fa-10x {
            font-size: 10rem;
        }

        .message-container {
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 0;
            margin: -8px 0 0 -8px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: none;
        }
    </style>
</head>
<body>

<main>
    <div class="container message-container">
        <% if (ok) {
        %>
        <%
        } else { %>
            <div class="col-md-8 col-sm-10 col-xs-10">
                <div class="d-flex flex-row justify-content-center"><i class="fa fa-frown-o fa-10x text-secondary"
                                                                       title="E404"></i></div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="px-4 py-md-3"><h3 class="pt-3 text-center"><%=html.context.translate('An error occurred')%></h3><h5 class="text-muted text-center">
                            <%=html.context.translate('An error occurred while validating document.')%>  <%=html.context.translate(error.message)%>
                        </h5>
                        <div class="text-center pt-5"></div>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</main><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha256-2JaAhvdQnfNMMnhWPauHOZ2k+dzftBmBjjownu3HC4g=" crossorigin="anonymous"></script>
</body>
</html>
